<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define DeskCommandCoreExeComponentId="fil86CD623FF593B1934F5F5737810861AA"?>
  <Product Id="*" Name="Desk Command" Language="1033" Version="0.3.0.0" Manufacturer="Tridion Ted" UpgradeCode="47cecab7-4f7d-4dc8-a1b4-809ccc545559">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes"  />
    <MediaTemplate EmbedCab="yes"/>

    <Feature Id="ProductFeature" Title="desk_command.installer" Level="1">
      <ComponentGroupRef Id="DeskCommand_Project"/>
      <ComponentRef Id="ApplicationShortcut"/>
    </Feature>

    <UIRef Id="WixUI_InstallDir" />
    
    <Icon Id="deskCommandIcon" SourceFile="..\desk-command.installer\deskcommand.ico"/>
    <WixVariable Id="WixUILicenseRtf" Value="..\desk-command.installer\License.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="..\desk-command.installer\WixUIDialogBmp.bmp"/>
    <WixVariable Id="WixUIBannerBmp" Value="..\desk-command.installer\WixUIBannerBmp.bmp" />
    <Property Id="ARPPRODUCTICON" Value="deskCommandIcon" />
    

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Desk Command" />
      </Directory>
      <Directory Id="ProgramMenuFolder" />
    </Directory>

    <DirectoryRef Id="ProgramMenuFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Desk Command"
                  Description="Desk Command Description"
                  Target="[#$(var.DeskCommandCoreExeComponentId)]"
                  WorkingDirectory="INSTALLFOLDER" Icon="deskCommandIcon"/>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\DeskCommand" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
